/* Media querry deskop */
@media (min-width: 1200px){
    .container
    {
        width: 1440px;
        margin-left: 60px;
        margin-right: 60px;
    }

    header
    {
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 60px;
        margin-right: 60px;
    }
    #logo
    {
        height: "72";
        width: "154";
    }


}
/* Général */
.container
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px lime groove;
}

.body
{
    font-family: Raleway, Arial;    
}

nav
{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    color: black;
}

#h:hover, #a:hover
{
    border-top: 2px #0065FC solid;
    color: blue;
}
