/* Général */
/* Mettre le contenu du container en colonnes */
.container
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* Définition de la police par défaut */
body
{
    font-family: Raleway, sans;
    font-size: 12pt;
}
/* Suppression des boutons sur les navigations et alignement en ligne */
ul
{
    list-style-type: none;
	display: flex;
	flex-direction:row;
	justify-content: space-between;
	margin:auto;
	padding:auto;
}
/* Suppression des décorations  sur les naviagations et mise en couleur noires */
a
{
    color: black;
    text-decoration: none;
    display: block;
}
/* Sauf pour le lien S'insrire (en bleu). On met ce lien en gras */
.lien
{
    color:#0065FC;
    font-weight: bold;
}
/* Fond gris pour le footer et les éléments internes de la section hébergements*/
footer
{
    background-color: #F2F2F2;
}
.pop, .hebergement
{
    background-color: #F2F2F2;
}
/* Marge à gauche pour pop */
.pop
{
    margin-left: 5px;
}
/* Les étoiles doivente être en bleues */
.filter-icons, .news, .star-icon
{
    color: #0065FC;
}
/* Disposition en ligne du Header*/
header
{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
}
/* Taille d'écriture */
h1, h2, h3
{
    font-weight: bold;
}
h1
{
    font-size: 1.4em;
}
h2
{
    font-size: 1.2em;
}
h3
{
    font-size: 1.1em;
}
.line-1
{
    font-size: 1.1em;
    font-weight: bold;
	margin-right:40px;
}
/* Généralité de la section de recheche */
.recherche
{
    margin-top: 10px;
    /* Mise en forme verticale */
    display:flex;
    flex-direction: column;
	justify-content:flex-start;
}
/* Changement des éléments de navigation hébergements et Activités au survol */
.h:hover, .a:hover
{
    border-top: 2px #0065FC solid;
    color: #0065FC;
}
/* Centrage du header, du footer et du main + définition des mises en formes internes pour ces boîtes */
footer
{
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 50px;
    margin-right: 50px;
}
main
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10px;
    margin-bottom: 10px;
}
/* définition des espacements entre les éléments de navigations dans le header*/
.h, .a
{
    margin-right: 20px;
	padding-top: 20px;
}
#logo
{
    flex-grow: 1;
}
.nav-h
{
    flex-grow: 1;
}
.nav-i
{
    margin-right: 20px;
}
/* SECTION DE RECHERCHE */
/* Modification du formulaire de recherche */
form
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 5px;
    width: 420px;
}
/* Mise en forme des boutons de recherche */
.bouton
{
    background-color: #0065FC;
    color:white;
    font-weight: bold;
    border-radius: 0 10px 10px 0;
    height:30px;
}
/* Mise en forme de l'icone de recherche de lieux de résidence */
.gps
{
    border-radius: 10px 0 0 10px;
    background-color: #F2F2F2;
    height:30px;
    width: 30px;
    line-height: 30px;
    text-align: center;
}
/* Profil de la zone de saisie de la destination recherchée */
#destination
{
    height: 26px;
    border: 1px #F2F2F2 solid;
}
/* Les boîtes de filtres*/
.filtres
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap:wrap;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 20px;
}
.filtres h2
{
    font-size: 1.2em;
}
.filtres div
{
    margin-left: 20px;
}
/* Les infos de fin de section de Recherche*/
.infos
{
    display: flex;
    align-items: baseline;
}
/* Modifications des icones dans la section Recherche */
.filter-icons
{
    border-radius: 30px;
    background-color: #DEEBFF;
    height:30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}
.news
{
	border-radius: 30px;
    background-color: #ffffff;
    height:30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
}
 /* Bordures de base pour les filtres de recherche */
.filtres-contenu
{
    display: flex;
    align-items: baseline;
    border-radius: 40px;
    border:2px #F2F2F2 solid;
}
/* Bordures au survol pour les filtres de recherche */
.filtres-contenu:hover
{
    border:2px #0065FC solid;
}
.filtres-details
{
    padding-right: 6px;
    padding-left: 6px;
}
/* Largeurs des infos */
.infos-news
{
    vertical-align: baseline;
    padding-right: 6px;
    padding-left: 6px;
}
.affiche
{
    font-size: 1.2em;
    font-weight: bold;
}
 /* Section hébergements */
/* 1. Hébergements principal */
.section-hebergement
{
    display:flex;
    flex-direction: row;
    justify-content: space-around; 
}
.hebergement
{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.logement
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-between;
    width: 880px;
}
.log
{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 246px;
    height: 200px;
    margin: 5px;
    padding:5px;
    border: 1px #D5D5D5 solid;
    box-shadow: 2px 2px 5px #D5D5D5;
}
.log-a
 {
    flex-grow: 1;
}
.image
{
    border-radius: 5px 5px 0 0;
    object-fit: cover;
    width:100%;
}
.h2-hebergement
{
	margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px; 
	margin-bottom:5px;
}
.txt-hebergement, .etoiles, .pop-text, .etoiles2
{
    margin-right: 10px;
    margin-left:10px;
}
.etoiles2
{
    display:flex;
    flex-direction: row;
    margin-top:20px;
}
.txt-hebergement
{
	margin-top:0px;
	margin-bottom:0px;
}
.autres
{
    margin-bottom:30px;
}
/* 2. Populaires */
.image2
{
    width: 127px;
    height: 100%;
    border-radius: 5px 0 0 5px;
    object-fit: cover;
}
.h2-hebergement-pop
{
	margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px; 
	margin-bottom:5px;
}
.pop-text
{
    margin-top:0px;
	margin-bottom:10px;
}
.titre
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
	margin-top:10px;
    align-items: center;
}
.contenu-aside
{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;   
}
.contenu-a
{
    border: 1px #D5D5D5 solid;
    box-shadow: 2px 2px 5px #d5d5d5;
}
.as
{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}
.as-1
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
	flex-grow:1;
}
/* Section activités */
#activites
{
	margin-top: 5px;
}
.acti-img
{
    border:1px #F2F2F2 solid;
    box-shadow: 2px 2px 5px #F2F2F2;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.imag1, .imag2, .imag3, .imag5
{
    object-fit: cover;
    width: 100%;
}
.acti-a
{
    flex-grow: 1;
}
figure
{
    display:block;
    width:100%;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 1.1em;
    font-weight: bold;
}
figcaption
{
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-bottom: auto;
}
.img1
{
    height: 100%;
}
.img2
{
    height: 52%;
}
.img3
{
    height: 37%;
}
.img5
{
    height: 49%;
}
.activites-div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: space-around;
}
.double-images
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Media querry DESKOP */
@media screen and (min-width: 1200px)
{
    /* GÉNÉRALITÉS */
    /* Non prise en compte des br*/
	.display-br
	{
		display:none;
	}
    /* Définition de la largeur et centrage de la boîte container */
    .container
	{
        max-width: 1440px;
        margin-left: auto;
        margin-right: auto;
    }
    /* Correction centrage du header, du footer et du main + définition des mises en formes internes pour ces boîtes */
	nav
	{
		margin-top:20px;
	}
	ul
	{
		display:flex;
		justify-content:flex-end;
	}
    header
	{
        margin-left: 50px;
        margin-right: 50px;
    }
    main
	{
        margin-left: 50px;
        margin-right: 50px;
    }
    /* Définition des espacements pour les boîtes internes du footer */
    footer div
	{
        margin-right: 200px;
        margin-left: 50px;
    }	
    /* définition des espacements entre les éléments de navigations dans le header*/
    .lien
	{
        padding-top: 20px;
    }
    /* SECTION DE RECHERCHE */
	/* Modification du formulaire de recherche : déjà fait */
    /* Mise en forme des boutons de recherche : déjà fait*/
    /* Cacher l'icône de recherche */
    .i-texte
	{
        display: none;
    }
    /* Mise en forme de l'icone de recherche de lieux de résidence :déjà fait */
    /* Profil de la zone de saisie de la destination recherchée : déjà fait */
    /* Les boîtes de filtres : déjà fait*/
    /* Les infos de fin de section de Recherche :déjà fait*/
    /* Modifications des icones dans la section Recherche : déjà fait */
    /* Bordures de base pour les filtres de recherche : déjà fait */
    /* Largeurs des infos : déjà fait */
    
    /* Section hébergements */
    /* 1. Hébergements principal*/
    .section-hebergement
	{
		height: 626px;
    }
    .hebergement, .pop
	{
        border-radius: 20px;
		height:626px;
    }
    .image
	{
        height:114px;
    }
    .h2-hebergement
	{
        font-size: 1em;
    }
    .txt-hebergement, .star-icon, .simple
	{
        font-size: 1em;
    }
    .affiche
	{
		margin-top:40px;
        margin-bottom: 40px;
        margin-left: 40px;        
    }
    .h1-hebergement
	{
		margin-top: 30px;
        margin-left: 40px;
        margin-bottom: 10px;
    }
    
    /* 2. Section populaires */
    .pop
	{
        width: 420px;
		height: 627px;
    }
    .pop-text
	{
        font-size: 1em;
    }
    .contenu-a
	{
	    margin-top:20px;
    }
    .as
	{
        height:144px;
        width: 334px;
    }
    .h1-hebergement-pop
	{
        margin-left: 40px;
    }
    /* Section activités */
    .acti-titre
	{
        margin-left: 0px;
    }
    .acti-img
	{
        width: 302px;
    }
    .imag1
	{
        height: 390px;
    }
    .imag2
	{
        height: 180px;
    }
    .imag3
	{
        height: 110px;
    }
    .imag5
	{
        height: 150px;
    }
    .double-images
	{
        margin-left:10px;
        margin-right: 10px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}

/* Media querry PORTABLE */
@media screen and (max-width: 767px)
{
	/* GÉNÉRALITÉS */
    /* Tailles des polices*/
    .line-1
	{
        font-size: 0.9em;
		margin-right:10px;
    }
	p, i
	{
		font-size:0.9em;
	}
	/* Changement des éléments de navigation hébergements et Activités au survol */
    .h, .a
	{
        padding-top: 0;
        padding-bottom: 10px;
    }    
	.h:hover, .a:hover
	{
        /* Trait en bas */
        border-bottom: 2px #0065FC solid;
        border-top: none;
    }
	/* Définition de la largeur et centrage de la boîte container */
    .container
	{
        max-width: 375px;
        margin-left: auto;
        margin-right: auto;
    }
	/* Centrage du header, du footer et du main + définition des mises en formes internes pour ces boîtes */
	/* Inversion de l'ordre des boites du header*/
	.el-foot:nth-child(1)
	{
		order:1;
	}
	.el-foot:nth-child(2)
	{
		order:3;
	}
	.el-foot:nth-child(3)
	{
		order:2;
	}
	.nav-i
	{
		margin-right:10px;
		margin-top:20px;
	}
	.uv-h
	{
		flex-grow:1;
		display: flex;
		flex-direction:row;
		justify-content: space-between;
		margin:auto;
		padding:1px;
	}
	.li-h
	{
		flex-grow:1;
	}
	.li-a
	{
		flex-grow:1;
	}
	 footer
	{
        display:flex;
        flex-direction: column;
        justify-content: space-around;
		max-width:375px;
        margin-left: 0;
        margin-right: 0;
    }
    main
	{
        margin-left: 0;
		margin-right:0;		
        max-width: 375px;   
	}
    /* Définition des espacements pour les boîtes internes du footer */
    footer div
	{
        margin: 0px;
		padding:10px;
    }
    /* définition des espacements entre les éléments de navigations dans le header*/
    .h, .a
	{
		display: flex;
		flex-direction:row;
		justify-content: center;
        margin-bottom: 10px;
		border-bottom: 2px #F2F2F2 solid;
    }
	/* SECTION DE RECHERCHE */
	/* Marge de 10px à gauche : déjà fait */
    /* Modification du formulaire de recherche : déjà fait */
    /* Mise en forme des boutons de recherche : déjà fait */
    /* Cacher le bouton "Recherche" */
    .b-texte
	{
        display: none;
    }
    /* Mise en forme de l'icone de recherche  de lieux de résidence : déjà fait */
    /* Profil de la zone de saisie de la destination recherchée : déjà fait */
    /* Les boîtes de filtres*/
    .filtres div
	{
        margin-left: 0;
    }
    .filtres h2
	{
        flex-basis: 100%;
    }
    /* Les infos de fin de section de Recherche : déjà fait*/
    /* Modifications des icones dans la section Recherche : déjà fait */
    /* Bordures de base pour les filtres de recherche*/
    .filtres-contenu
	{
        margin-bottom: 10px;
        margin-right: 10px;
    }
    /* Bordures au survol pour les filtres de  : déjà fait */
    /* Largeurs des infos */
    .infos-news
	{
        width: 375px;
    }
    .romantic
	{
        margin-right: 100px;
    }
    /* Section hébergements */
    /* 1. Hébergements principal */
    .section-hebergement
	{
        display:flex;
        flex-direction: column-reverse;
        justify-content: space-between; 
    }
    .hebergement
	{
		background-color:white;
		max-width:375px;
    }
    .logement
	{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
		align-items: center;
        max-width: 100%;
    }
    .log
	{
        width: 90%;
        height: 240	px;
        border: 1px #F2F2F2 solid;
		box-shadow: 2px 2px 5px #F2F2F2;
    }
    .image
	{
        height:114px;
    }
    .h2-hebergement
	{
        margin-top: 5px;
        margin-bottom: 2px;
        font-size: 0.9em;
    }
    .txt-hebergement, .star-icon, .simple
	{
        font-size: 0.8em;
    }
    .autres
	{
        margin-top:30px;
        margin-left: 10px; 
    }
    .h1-hebergement
	{
        margin-left: 10px;
        margin-bottom: 20px;
    }
    
    /* 2. Section populaires */
    .pop
	{
        max-width: 375px;
		margin-left:0;
    }
    .h2-hebergement-pop
	{
	    margin-top: 15px;
		font-size:0.9em;
    }
    .pop-text
	{
        font-size: 0.8em;
    }
    .titre
	{
        margin-left: 0px;
        margin-right: 0px;
    }
    .contenu-aside
	{
        justify-content: space-around;
        align-items: center;	
    }
    .contenu-a
	{
        margin-top:15px;
        margin-bottom: 15px;
		width:93%;
		margin-left:auto;
		margin-right:auto;
    }
    .as
	{
		max-width:336px;
        height: 144px;
		padding:0px;
    }
    .h1-hebergement-pop
	{
        margin-left: 10px;
    }
    /* Section activités */
    #activites
	{
		max-width: 375px;
    }
	.acti-titre
	{
		margin-left:10px;
	}
    .acti-img
	{
        max-width: 345px;
		margin-left: 5px;
		margin-right: 5px;
		margin-top: 10px;
    }    
    .imag1, .imag2, .imag3, .imag5
	{
		height: 134px;
    }
    figcaption
	{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .activites-div
	{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin-top:10px;
		max-width:375px;
    }
    .double-images
	{
		margin:10px;
    }
}

/* Media querry Tablette */
@media screen and (min-width: 768px) and (max-width: 1199px)
{
    /* GÉNÉRALITÉS */
    /* Tailles des polices et suppression des br*/
	.display-br
	{
		display:none;
	}
	h3
	{
        font-size: 0.9em;
    }
    /* Définition de la largeur et centrage de la boîte container */
    .container
	{
        max-width: 868px;
        margin-left: auto;
        margin-right: auto;
    }
    /* Centrage du footer et du main + définition des mises en formes internes pour ces boîtes */
	nav
	{
		margin-top:20px;
	}
	ul
	{
		display:flex;
		justify-content:flex-end;
	}
    header
	{
        margin-left: 0;
        margin-right: 0;
    }
    footer
	{
		max-width:868px;
        margin-left: 0;
        margin-right: 0;
    }
    main
	{
		max-width:868px;
        margin-left: 0;
        margin-right: 0;    
    }
    /* Définition des espacements pour les boîtes internes du footer */
    footer div
	{
        margin-right: 25px;
        margin-left: 35px;
    }	
    /* définition des espacements entre les éléments de navigations dans le header*/
    .lien
	{
        padding-top: 20px;
    }
    /* SECTION DE RECHERCHE */
    /* Modification du formulaire de recherche : déjà fait */
    /* Mise en forme des boutons de recherche : déjà fait */
    /* Cacher le bouton avec icône */
    .i-texte
	{
        display: none;
    }
    /* Mise en forme de l'icone de recherche de lieux de résidence : déjà fait */
    /* Profil de la zone de saisie de la destination recherchée : déjà fait */
    /* Les boîtes de filtres : déjà fait*/ 
    /* Les infos de fin de section de Recherche : déjà fait*/
    /* Modifications des icones dans la section Recherche : déjà fait*/
    /* Bordures de base pour les filtres de recherche : déjà fait */
    /* Largeurs des infos : déjà fait */
    
    /* Section hébergements */
    /* 1. Hébergements principal */
	.hebergement
	{
		width: 48.62%;
	}
    .logement
	{
        width: 100%;
    }
    .hebergement, .pop
	{
        border-radius: 20px;
		min-height: 736px;
    }
    .log
	{
        width: 44%;
        height: 180px;
        margin: 1px;
		padding: 1px,
    }
    .image
	{
        height:84px;
    }
    .h2-hebergement
	{
        font-size: 0.9em;
    }
    .txt-hebergement, .star-icon, .simple
	{
        font-size: 0.9em;
    }
    .affiche
	{
        margin-bottom: auto;
		margin-top:auto;
        margin-left: 20px;        
    }
    .h1-hebergement
	{
		margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 10px;
    }
    
    /* 2. Section populaires */
    .pop
	{
        max-width: 42.17%;
    }
    .pop-text
	{
        font-size: 1em;
	}
    .titre
	{
        margin-left: 5px;
    }
	.contenu.aside
	{
		margin-left: 5px;
		margin-right: 0px;
	}
	.contenu-a
	{
		margin-top:50px;
		margin-left:0;
		margin-right:0;
    }
    .as
	{
        max-width:334px;
        height: 144px;  
    }
    .as-1
	{
        margin-top: 5px;
    }
    .h1-hebergement-pop
	{
        margin-left: 20px;
    }
    /* Section activités */
    #activites
	{
        max-width: 828px;
    }
    .acti-titre
	{
        margin-left: 20px;
    }
    .acti-img
	{
        width: 181px;
        box-shadow: 2px 2px 5px #F2F2F2;
        border: 1px #F2F2F2 solid;
        border-radius: 10px;
    }
    figure
	{
        font-size: 0.9em;
    }
    figcaption
	{
        padding-top: 10px;
    }
    .imag1
	{
        height: 195px;
    }
    .imag2
	{
        height: 90px;
    }
    .imag3
	{
        height: 55px;
    }
    .imag5
	{
        height: 75px;
    }
}